*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.mr-small {
  margin-right: 2rem; }

.mr-med {
  margin-right: 4rem; }

.mr-large {
  margin-right: 6rem; }

.mr-huge {
  margin-right: 8rem; }

.ml-small {
  margin-left: 2rem; }

.ml-med {
  margin-left: 4rem; }

.ml-large {
  margin-left: 6rem; }

.ml-huge {
  margin-left: 8rem; }

.col-sec {
  color: #1d2671; }

.col-prime {
  color: #0099ff; }

.col-white {
  color: white; }

.upper {
  text-transform: uppercase; }

.mt-small {
  margin-top: 2rem; }

.mt-med {
  margin-top: 4rem; }

.mt-large {
  margin-top: 6rem; }

.mt-huge {
  margin-top: 8rem; }

.d-i-b {
  display: inline-block; }

html {
  font-size: 90%;
  font-family: "Poppins", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 65%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 50%; } }

.heading__1 {
  font-size: 3.4rem; }

.heading__2 {
  font-size: 1.75rem; }

.heading__3 {
  font-size: 1.3rem; }

.heading__4 {
  font-size: 0.8rem; }

.title {
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #0099ff, #1d2671);
  color: transparent;
  display: inline-block;
  pointer-events: none; }

.second__desc {
  font-size: 0.9rem; }

.third__desc {
  font-size: 0.9rem;
  text-align: center; }

.third .card__desc {
  width: 80%;
  font-size: 0.75rem;
  text-align: center; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

main {
  position: relative; }

.logo {
  width: 3.25rem;
  height: 3.25rem; }

.header {
  display: flex;
  height: 7rem;
  align-items: center;
  padding: 2rem 3rem;
  height: fit-content; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 0; } }
  .header .logo {
    margin-right: 1.5rem; }
  .header__left {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .header__left {
        width: 100%;
        flex: 0;
        padding: 2rem; } }
  .header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; }
    @media only screen and (max-width: 43.75em) {
      .header__right {
        margin-left: 0;
        margin: 0;
        width: 100%; } }
  @media only screen and (max-width: 43.75em) {
    .header .header__list-active {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
      height: fit-content; } }
  .header__list {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    font-weight: 300; }
    @media only screen and (max-width: 43.75em) {
      .header__list {
        flex-direction: column;
        background-color: #0099ff;
        transition: transform 0.25s;
        transform: scaleY(0);
        transform-origin: top;
        flex: 1;
        visibility: hidden;
        height: 0;
        opacity: 0; } }
    * .header__list li {
      transform: translate(0);
      transition: transform 0.2s; }
      * .header__list li:active {
        transform: translateY(1px); }
      * .header__list li:not(:last-child) {
        margin-right: 3rem; }
      @media only screen and (max-width: 43.75em) {
        * .header__list li {
          margin: 0;
          padding: 0.8rem 0; }
          * .header__list li:not(:last-child) {
            margin: 0; } }
      * .header__list li a {
        transition: all 0.2s; }
        * .header__list li a:hover {
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
        * .header__list li a:active {
          color: rgba(0, 153, 255, 0.3); }
        @media only screen and (max-width: 43.75em) {
          * .header__list li a {
            color: white;
            background-color: none;
            border: none;
            text-align: start;
            font-size: 1.3rem;
            padding: 0;
            margin-left: 4rem; }
            * .header__list li a:active {
              color: #1d2671;
              border: none;
              border-radius: 0; } }

.hamburger {
  display: none;
  margin-left: auto; }
  @media only screen and (max-width: 43.75em) {
    .hamburger {
      display: inline-block; } }
  .hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black; }
    .hamburger span:not(:last-child) {
      margin-bottom: 0.5rem; }

.hamburger__list {
  display: block; }

.btn {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s; }
  .btn-blue {
    border-radius: 3rem;
    background-color: #0099ff;
    color: white;
    font-weight: 400; }
    .btn-blue:hover {
      background-color: #0288e1; }
    .btn-blue:active {
      background-color: rgba(0, 153, 255, 0.9); }
  .btn-blue-white {
    background-color: #0099ff;
    color: white;
    border-radius: 5px;
    border: 2px solid #0099ff; }
    .btn-blue-white:hover {
      background-color: #0288e1;
      border: 2px solid #0288e1; }
    .btn-blue-white:active {
      background-color: rgba(2, 136, 225, 0.7);
      border: 2px solid rgba(2, 136, 225, 0.7); }
  .btn-white-blue {
    border-radius: 5px;
    border: 2px solid #0099ff;
    color: #0099ff; }
    .btn-white-blue:hover {
      background-color: #0099ff;
      color: white; }
    .btn-white-blue:active {
      background-color: #0288e1;
      border: 2px solid #0288e1; }
  .btn-darkblue-white {
    border: 2px solid #1d2671;
    border-radius: 5px;
    color: #1d2671; }
    .btn-darkblue-white:hover {
      background-color: #1d2671;
      color: white; }
    .btn-darkblue-white:active {
      background-color: rgba(29, 38, 113, 0.7);
      border: 2px solid rgba(29, 38, 113, 0.7); }

.first {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 43.75em) {
    .first {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      height: fit-content;
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .first {
      padding: 3rem 0; } }
  .first__right img {
    width: 30rem; }
  .first__left h1 {
    font-family: "Pattaya", sans-serif; }
  .first__left p {
    width: 35rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #707070;
    margin: 1.4rem 0; }

.second {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgba(0, 153, 255, 0.15);
  padding: 5rem; }
  @media only screen and (max-width: 25em) {
    .second {
      padding: 5rem 2rem; } }
  .second__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    flex-wrap: wrap; }
    .second__upper p {
      width: 70%;
      text-align: center;
      color: #1d2671;
      margin-top: 1rem; }
  .second__below {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, min-content));
    align-items: center;
    justify-content: center;
    grid-gap: 2rem; }
    .second__below__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .second__below__box img {
        width: 10rem; }
      .second__below__box h3 {
        margin: 1rem 0; }
      .second__below__box p {
        text-align: center;
        font-size: 0.89rem; }

.third {
  padding: 5rem;
  width: 100%; }
  .third__upper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .third__desc {
    width: 80%;
    margin-top: 0.6rem; }
  .third__below {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, min-content));
    grid-gap: 4rem;
    justify-content: center;
    align-content: center; }
    .third__below__card {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 32rem; }
      .third__below__card img {
        width: 25%; }
      .third__below__card .card__desc {
        color: #707070; }
    .third__below .card__pos__1, .third__below .card__pos__2, .third__below .card__pos__3 {
      position: relative; }
    .third__below .card__pos__1::before {
      content: "01";
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: 5rem;
      font-weight: 800;
      color: rgba(0, 153, 255, 0.15); }
    .third__below .card__pos__2::before {
      content: "02";
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: 5rem;
      font-weight: 800;
      color: rgba(0, 153, 255, 0.15); }
    .third__below .card__pos__3::before {
      content: "03";
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: 5rem;
      font-weight: 800;
      color: rgba(0, 153, 255, 0.15); }

.footer {
  width: 100%;
  background-color: rgba(0, 153, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0; }
  @media only screen and (max-width: 25em) {
    .footer h4 {
      font-size: 0.6rem; } }
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .footer__logo h2 {
      margin-left: 1rem;
      font-size: 1rem; }
    .footer__logo img {
      width: 2.25rem;
      height: 2.25rem; }
      @media only screen and (max-width: 25em) {
        .footer__logo img {
          width: 1.25rem;
          height: 1.25rem; } }
  .footer__policy {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .footer__policy h4:last-child {
      margin-left: 2rem; }
    .footer__policy h4 {
      cursor: pointer; }
      .footer__policy h4:hover {
        color: rgba(0, 0, 0, 0.3); }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }
