.header {
  display: flex;
  height: 7rem;
  align-items: center;
  & img {
    width: 3.25rem;
    height: 3.25rem;
    margin-left: 3rem;
    margin-right: 1.5rem;
  }
  &__left {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10rem;
  }
  &__list {
    display: flex;
    flex: 0 0 70%;
    font-size: 1.3rem;
    justify-content: center;
    margin-right: 5rem;
    font-weight: 300;

    & li {
      transform: translate(0);
      transition: transform 0.2s;
      &:active {
        transform: translateY(1px);
      }
      &:not(:last-child) {
        margin-right: 3rem;
      }

      & a {
        color: $color-primary;
        transition: all 0.2s;
        &:hover {
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        }
        &:active {
          color: rgba($color-primary, $alpha: 0.3);
        }
      }
    }
  }
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s;
  &-blue-white {
    background-color: $color-primary;
    color: white;
    border-radius: 5px;
    border: 2px solid $color-primary;
    &:hover {
      background-color: $color-primary-darker;
      border: 2px solid $color-primary-darker;
    }
    &:active {
      background-color: rgba($color-primary-darker, 0.7);
      border: 2px solid rgba($color-primary-darker, 0.7);
    }
  }

  &-white-blue {
    border-radius: 5px;
    border: 2px solid $color-primary;
    color: $color-primary;
    &:hover {
      background-color: $color-primary;
      color: white;
    }

    &:active {
      background-color: $color-primary-darker;
      border: 2px solid $color-primary-darker;
    }
  }

  &-darkblue-white {
    border: 2px solid $color-secondary;
    border-radius: 5px;
    color: $color-secondary;

    &:hover {
      background-color: $color-secondary;
      color: white;
    }
    &:active {
      background-color: rgba($color-secondary, $alpha: 0.7);
      border: 2px solid rgba($color-secondary, $alpha: 0.7);
    }
  }
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__right {
    & img {
      width: 30rem;
    }
  }
  &__left {
    & h1 {
      font-family: "Pattaya", sans-serif;
    }

    & p {
      width: 35rem;
      font-size: 0.8rem;
      font-weight: 300;
      color: $color-gray;
      margin: 1.4rem 0;
    }
  }
}

.second {
  display: flex;
  flex-direction: column;
  background-color: rgba($color-primary, 0.15);
  padding: 5rem;
  &__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    & p {
      width: 40%;
      text-align: center;
      color: $color-secondary;
      margin-top: 1rem;
    }
  }

  &__below {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, min-content));
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & h3 {
        margin: 1rem 0;
      }
      & p {
        text-align: center;
        font-size: 0.76rem;
      }
    }
  }
}

.third {
  padding: 5rem;
  &__upper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__desc {
    width: 50%;
    margin-top: 0.6rem;
  }
}
